<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>List of Locations</title>
    <style type="text/css">
        h1{
            color:#C3447A;
        }
    </style>
</head>
<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
<body>
    <div class="container-fluid text-justify" >
        <h1  style="text-align:center; padding-top: 3%" >LIST OF PEOPLE UNDER LOCATIONS(IIT BHU ASSIGNMENT)</h1>
        <div class="container" style="padding-top : 3%;">
            <a href="/" class="text-primary btn" style="right: 0;">Main menu</a>
            <br>
            <ol>
                <%depsdata.forEach(dep=>{ %>
                    <li>
                        <h2>Location - <span class = " text-primary"> <%= dep.name%></span></h2>
                        <br>
                        <ul class="list-group list-group-horizontal">
                            <%dep.emps.forEach(em=>{ %>
                                <li class="list-group-item">
                                    <span class="font-weight-bold text-info"><%= em.name %></span>
                                    <span class= "text-secondary"><em>(id : <%= em.id %>)</em></span>
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                    <br>
                <%});%>
            </ol>
        </div>
        <h6 style="text-align: center;">
            Created by Pranav Gupta <br>
            IIT BHU
        </h6>
    </div>
</body>
</html>